<div class="mypages-show" data-js-action="mypages-show">
  <div class="cbpn-container-s">
    <div class='mypage-body'>

      <div class='info-section'>
        <div class='info-group'>
          お名前: <%= @user.name %>
        </div>
      </div>

    </div>
  </div>
</div>
