<div class='shared-footer'>
  <div class="cbpn-container">
    <div class="footer-menu">
      <a href="/" class="footer-menu-item">トップに戻る</a>
      <a href="/about" class="footer-menu-item">当サービスの概要</a>
      <a href="/faq" class="footer-menu-item">よくある質問</a>
      <a href="/privacy_policy" class="footer-menu-item">プライバシーポリシー</a>
      <a href="/tokutei" class="footer-menu-item">特定商取引法に関する表記</a>
      <%= link_to 'お問い合わせ', "#", class: 'footer-menu-item' %>
    </div>
    <%= link_to root_url, class: 'logo-area md-up-logo' do %>

    <% end %>

    <%= link_to root_url, class: 'logo-area md-down-logo' do %>

    <% end %>
  </div>
</div>
