<div class="first-view">
  <div class="first-view-text">美容師とカットモデルをつなげるプラットフォーム</div>
</div>

<div class="hamburger"></div>

<div class="description">
  
</div>

<div class="btn-box">
  <%= link_to '店舗ログイン', salon_sign_in_path, class: 'btn btn-block btn-secondary' %>
</div>
<div class='btn-box'>
  <%= link_to "店舗ログアウト", salon_sign_out_path, method: :delete, class: 'btn btn-block btn-success' %>
</div>
